# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=***
DB_DATABASE=adminplay

# Server Configuration
PORT=3000
ORIGIN=***
CREDENTIALS=false

# Auth Configuration
JWT_SECRET=***
# Expiration time in seconds (e.g. 3600) or NestJS string format (e.g. 24h)
JWT_EXPIRES_IN_SECONDS=

# Alerts & Notifications Configuration
ALERTS_CRON_TIME="*/600 * * * *"
RUN_ALERTS_CRON=false

# Telegram Configuration
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_SEND_MESSAGE=false
